.calendarRow > div {
    aspect-ratio: 1/1;
    flex-basis: 14%;
}
.calendarImg {
    background-image: url('/webprog1beadando1/public/images/winter.jpg');
    background-size: cover;
}
.calendarImg h2 {
    font-size: 15rem;
}
